<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Eliot :: Control to You</title>
	  <meta charset="utf-8">
        {% load static %}

	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/generic.js' %}"></script>
    <script src="{% static 'js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ripples.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/ripples.css' %}">
</head>

<body style="background:#f7f7f7;">

<nav class="navbar navbar-default login-nav" style="display: none;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><div><img src="{% static 'images/logo.png'%}"></div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">WHO</a></li>
        <li><a href="#">WHAT</a></li>
        <li><a href="#">WHERE</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid first-container">
  <div class="login-center-head">
      <img src="{% static 'images/logo.png' %}">
      <p>Eliot</p>
  </div>
</div>

<div class="container-fluid form-container">
  <form action="" method="POST" validate id="login-form">{% csrf_token %}
      <div class="social-login">
        <div><img src="{% static 'images/facebook.png'%}"></div>
        <div><img src="{%  static 'images/google.png' %}"></div>
      </div>

      <div class="form-group label-floating">
          <label for="u-email" class="control-label">email</label>
          <input type="email" class="form-control" id="u-email">
        </div>
        <div class="form-group label-floating">
          <label for="u-password" class="control-label">password</label>
          <input type="password" class="form-control" id="u-password">
        </div>
        <div style="text-align: center;">
          <input id="u-login" type="submit" value="Sign In">
        </div>
  </form>
</div>


<script type="text/javascript">
  $.material.init()
</script>

</body>
</html>